@media screen and (max-width: 1000px){
    .about-me .left {
        display: none;
    }
    .about-me .right {
        padding-left: 20px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .logo {
        font-size: 20px;
    }
    .menu-element {
        margin-left: 10px;
        margin-right: 50px;
        font-size: 20px;
    }

    .skills-list__element > *:first-child :not(.algo) {
        max-width: 60px;
        flex: 1 1 50%;
    }

    .skills-list__element > *:last-child :not(.algo) {
        flex: 1 1 50%;
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .menu-burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 26px;
        width: 32px;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 100;
        cursor: pointer;
    }

    .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #009a58;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    #burger:checked + .menu-burger + .header-top {
        right: 0;
    }

    #burger:checked + .menu-burger .line1 {
        transform: rotate(45deg) translateY(15px);
    }
    #burger:checked + .menu-burger .line2 {
        opacity: 0;
    }
    #burger:checked + .menu-burger .line3 {
        transform: rotate(-45deg) translateY(-15px);
    }

    .header-top {
        position: fixed;
        top: 0;
        right: -100%; /* Меню скрыто по умолчанию */
        width: 60%; /* Можно уменьшить или увеличить */
        height: 100vh;
        background: #013220;
        box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: right 0.3s ease-in-out;
    }

    #burger:checked ~ .header-top {
        right: 0; /* Меню появляется */
    }

    .logo {
        font-size: 24px;
        margin-bottom: 20px;
        color: white;
        text-align: center;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .menu-element {
        display: block;
        font-size: 24px;
        align-items: center;
        justify-content: center;
        margin-right: 0;
        margin-left: 0;
    }

    .menu-element a{
        font-size: 24px;
        color: white;
        text-decoration: none;
    }

    .skills-list__element > *:first-child :not(.algo){
        max-width: 50px;
        flex: 1 1 50%;
    }

    .skills-list__element > *:last-child :not(.algo) {
        flex: 1 1 50%;
        font-size: 10px;
    }

    .algo {
        font-size: 15px;
    }
}

@media screen and (max-width: 705px) {
    .skill-card__name {
        font-size: 20px;
    }

    .skills-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    /* Делаем карточку на всю ширину */
    .skill-card {
        order: -1;
        width: 100%;
        max-width: 90%;
        text-align: center;
    }

    /* Навыки теперь располагаются под карточкой */
    .skills-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        width: 100%;
    }

    .skills-list__element {
        flex: 1 1 calc(33.33% - 10px);
        max-width: calc(33.33% - 10px);
        text-align: center;
    }

    /* Иконки навыков уменьшаем */
    .skills-list__element img {
        width: 40px;
        height: auto;
    }
}

@media screen and (max-width: 400px){
    .algo {
        font-size: 12px;
    }
    .about-me__title {
        font-size:12px;
    }
    .name {
        font-size: 15px;
    }
    .description {
        font-size: 12px;
        width: 276px;
    }
    .about-me__description {
        font-size: 10px;
        margin-right: 15px;
    }
    .github {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .about-me__extra-element {
        font-size: 16px;
    }
}
